include ./nav

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{topTitle}
    link(rel="stylesheet", href="/css/main.css")
  body

    block nav
    block content
    h1 #{title}
    br
    hr
    block footer
