extends ../partials/layout

block content
  div(class="main")
    h1 #{titleBody}
    form(action="")
      label(for="" autofocus ) Search for your locarion
      br
      input(type="text")
      button(type="submit") Search 
  
    script(src='/js/app.js')


