*::before,*::after,*{
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html{

}

body{
  font-size: 10px;
  box-sizing: border-box;
  background: #fefefe;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav{

}

nav ul{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

h1,h2,h3,h4,h5,h6{
  margin: 1rem 0;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

ul,
li {
  list-style: none;
}


.main{
  flex-grow: 1;
}

footer {
  background: #fefefe;
  padding: 1rem;
  font-size: 1.2rem;
  border-top: 1px solid #8888;
  margin-top: 1.6rem;
}


form{
  text-align: center;
  padding: 2rem;
}

form label{
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1.5;
  margin-bottom: 1.5rem;
}

form input{
  display: block;
  margin: 1rem auto;
  border: 1px solid #333;
  box-shadow: 2px 2px 3px 2px #ccc;
  border-radius: 2rem;
  width: 80%;
  padding: 1rem 1.5rem;
}

form button{
  display: block;
  margin: 1rem auto;
  border: 1px solid #333;
  box-shadow: 2px 2px 3px 2px #ccc;
  border-radius: 2rem;
  width: 40%;
  background: none;
  padding: .6rem 1.1rem;
}