include ./nav
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="/css/main.css", rel="stylesheet")

    title #{title}
  body
    block nav
    block content
    
      
  footer
    p Created by #{name} Copyright &copy; #{new Date().toLocaleDateString()}
  
